<script>
	import { Accordion, AccordionItem } from "carbon-components-svelte";
	import { BarChartSimple } from "carbon/charts-svelte";
	/** @type {"white" | "g10" | "g90" | "g100"} */
	let theme = "white";

	$: document.documentElement.setAttribute("theme", theme);
	let name = "world";

	let data = {
		labels: ["Sun", "Mon", "Tues", "Wed", "Thurs", "Fri", "Sat"],
		datasets: [
			{
				values: [10, 12, 3, 9, 8, 15, 9],
			},
		],
	};
</script>
<svelte:head>
  <link rel="stylesheet" href="https://unpkg.com/@carbon/charts/styles.min.css" />
</svelte:head>
<h1>Yelele 2 {name}!</h1>

	<Accordion>
		<AccordionItem title="Section 1" open>Content 1</AccordionItem>
		<AccordionItem title="Section 2">Content 2</AccordionItem>
		<AccordionItem title="Section 3">Content 3</AccordionItem>
	</Accordion>

	<BarChartSimple
	data={[
	{
		"group": "Qty",
		"value": 65000
	},
	{
		"group": "More",
		"value": 29123
	},
	{
		"group": "Sold",
		"value": 35213
	},
	{
		"group": "Restocking",
		"value": 51213
	},
	{
		"group": "Misc",
		"value": 16932
	}
]}
	options={{
	"title": "Simple bar (discrete)",
	"axes": {
		"left": {
			"mapsTo": "value"
		},
		"bottom": {
			"mapsTo": "group",
			"scaleType": "labels"
		}
	},
	"height": "400px"
}}
	/>


