<script>
	import Select from "svelte-select@3.17.0";

	const complexItems = [
		{ value: "chocolate", label: "Chocolate", group: "Sweet" },
		{ value: "pizza", label: "Pizza", group: "Savory" },
		{ value: "cake", label: "Cake", group: "Sweet" },
		{ value: "chips", label: "Chips", group: "Savory" },
		{ value: "ice-cream", label: "Ice Cream", group: "Sweet" },
	];

	const groupBy = (item) => item.group;
</script>

<h2>Group</h2>
<Select items={complexItems} {groupBy} />

<style>
	:global(input) {
		margin: 0;
	}

	/* 	CSS variables can be used to control theming.
			https://github.com/rob-balfre/svelte-select/blob/master/docs/theming_variables.md
	*/

	.themed {
		--border: 3px solid blue;
		--borderRadius: 10px;
		--placeholderColor: blue;
	}
</style>
