<svelte:head>
  <link rel="stylesheet" href="https://unpkg.com/@carbon/charts/styles.min.css" />
</svelte:head>

<script>
	export let name;
	import { LineChart  } from "@carbon/charts-svelte";

</script>

<main>
	<h1>Hello {name}!</h1>
	<p>Visit the <a href="https://svelte.dev/tutorial">Svelte tutorial</a> to learn how to build Svelte apps.</p>
	<LineChart
		data={
			datasets: [
				{
					label: 'Dataset 1',
					data: [
						{ date: new Date(2019, 11, 30), value: 45 },
						{ date: new Date(2019, 11, 31), value: 456 },
						{ date: new Date(2020, 0, 1), value: 44 },
						{ date: new Date(2020, 0, 2), value: 1330 },
						{ date: new Date(2020, 0, 3), value: 2332 },
						{ date: new Date(2020, 0, 4), value: 22 },
						{ date: new Date(2020, 0, 5), value: 22 },
					],
				},
			],
		},
		options={
			title: 'Line (time series) - Time interval daily',
			axes: {
				left: {},
				bottom: {
					scaleType: 'time',
				},
			},
			legend: {
				clickable: false,
			},
		}
	/>
</main>
